<section id="competitions-view" class="view">
    <header>
        <button class="btn btn-info btn-force-refresh pull-right" 
            data-bind="click: refresh"><i class="icon-refresh"></i> Refresh</button>
        <h3 class="page-title" data-bind="text: title"></h3>
        <div class="article-counter">
            <address data-bind="text: competitions().length"></address>
            <address>found</address>
        </div>
        <div class="button-bar">
            <button class="btn btn-info" data-bind="click: cancel, enable: canSave">
                <i class="icon-undo"></i>Cancel
            </button>
            <button class="btn btn-info" data-bind="click: save, enable: canSave">
                <i class="icon-save"></i>Save
            </button>
            <i class="icon-asterisk" data-bind="visible: hasChanges"></i>
        </div>
    </header>
    <section data-bind="foreach: competitions" class="view-list">
        <article class="article-container-full-width">
            <div class="competition-brief">
                <label for="name">Name</label>
                <input id="name" data-bind="value: name" placeholder="Competition Name"></input>
            </div>

        </article>
    </section>
</section>