<section id="session-view" class="view">
    <h3 class="page-title" data-bind="text: title"></h3>
    <div class="button-bar">
        <button class="btn btn-info"
            data-bind="click: cancel, enable: canSave"><i class="icon-undo"></i> Cancel</button>
        <button class="btn btn-info"
                data-bind="click: save, enable: canSave"><i class="icon-save"></i> Save</button>
        <i class="icon-asterisk" data-bind="visible: hasChanges"></i>
    </div>
    <div data-bind="with: session">    
        <div class="titleblock">
            <label for="name">Name</label>
            <input id="name" data-bind="value: name" 
                placeholder="Competition name"/>
        </div>
        <div class="details-left">
            <div>
                <label>Description</label>
                <!--<textarea data-bind="value: description" 
                              placeholder="Enter description"></textarea>-->
                <textarea data-bind="value: description" 
                          placeholder="Enter description"></textarea>
            </div>
        </div>
    </div>
</section>