<section id="competitions-view" class="view">
    <header>
        <button class="btn btn-info btn-force-refresh pull-right" 
            data-bind="click: refresh"><i class="icon-refresh"></i> Refresh</button>
        <h3 class="page-title" data-bind="text: title"></h3>
        <div class="article-counter">
            <address data-bind="text: competitions().length"></address>
            <address>found</address>
        </div>
    </header>
    <table class="table table-striped">
        <tbody data-bind="foreach: competitions">
        <tr class="competition-brief btn-link">
            <td title="Go to details.">
                <h3 id="name" data-bind="text: name"></h3>
            </td>
        </tr>
            </tbody>
    </table>
</section>