<section class="view">
    <header>
        <button class="btn btn-info btn-force-refresh pull-right" 
            data-bind="click: refresh"><i class="icon-refresh"></i> Refresh</button>
        <h3 class="page-title" data-bind="text: title"></h3>
        <div class="article-counter">
            <address data-bind="text: athletes().length"></address>
            <address>found</address>
        </div>
    </header>
    <section data-bind="foreach: athletes" class="view-list">
        <article class="article-container-full-width">
            <div>
                <address data-bind="text: firstName"></address>
                <address data-bind="text: lastName"></address>
                <div data-bind="text: competition().name"></div>
            </div>

        </article>
    </section>
</section>