<nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#/">Leaderboard</a>
            <div class="btn-group" data-bind="foreach: router.visibleRoutes">
                <a data-bind="attr: { href: hash }, css: { active: isActive }, html: caption" class="btn btn-info"></a>
            </div>
            <!--        <div class="btn-group">-->
            <!--            <a class="btn btn-info dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i>-->
            <!--                <span class="text">Admin</span> <span class="caret"></span>-->
            <!--            </a>-->
            <!--            <ul class="dropdown-menu pull-right">-->
            <!--                $1$ ko foreach: adminRoutes #1#-->
            <!--                <li><a data-bind="attr: {href: hash}, html: caption"></a></li>-->
            <!--                $1$ /ko #1#-->
            <!--            </ul>-->
            <!--        </div>-->
                <div data-bind="css: { active: router.isNavigating }" class="pull-right loader">
                    <i class="icon-spinner icon-2x icon-spin"></i>
                </div>
        </div>
    </div>
</nav>
